<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Cerrar Ordenes | Sistema de Gestión</title>

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

	<!-- Tu CSS global -->
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<!-- ✅ Menú fijo (fragmento compartido) -->
	<header th:replace="fragments/menu :: menu"></header>

	<!-- ✅ Contenido principal -->
	<main class="container mt-4">
		<div class="content">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<div>
					<h1 class="text-primary mb-0">Cerrar Ordenes</h1>
					<p class="mb-0">Bienvenido al módulo de Cerrado de Ordenes.</p>
				</div>
				<!-- ✅ Botón para crear nuevo usuario -->
				<div class="col-md-2">
					<a th:href="@{/ordenes/listar}" class="btn btn-success w-100"> <i class="fa-solid fa-arrow-left"></i>
						Regresar
					</a>
				</div>
			</div>

			<table class="table table-striped table-hover mt-3 align-middle">
				<thead class="table-dark">
					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Producto</th>
						<th scope="col">Rendimiento</th>
						<th scope="col" class="text-center">Accion</th>
					</tr>
				</thead>
				<tbody>
					<!-- ✅ Recorre la lista de usuarios -->
					<tr th:each="orden : ${ordenes}">
						<td th:text="${orden.codOrden}"></td>
						<td th:text="${orden.producto.nombre}"></td>
						<td th:text="${orden.rend}"></td>
						<td class="text-center">
							<a class="btn btn-sm btn-outline-danger">
								<i class="fa-solid fa-ban"></i> Cerrar Orden
							</a>
						</td>
					</tr>

					<!-- ✅ Si no hay usuarios -->
					<tr th:if="${#lists.isEmpty(ordenes)}">
						<td colspan="6" class="text-center text-muted">
							No hay ordenes registradas.
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>

	<!-- ✅ Footer fijo (fragmento compartido) -->
	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>